:root {
  --color-gray: #f2f2f2;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray1: #263238;
  --color-gray2: #37474f;
  --color-gray3: #455a64;
  --color-gray4: #546e7a;
  --color-gray5: #607d8b;
  --color-gray6: #78909c;

  /* Variáveis para margens e padding */
  --padding-base: 12px;
  --margin-base: 12px;
}

body {
  background-color: var(--color-black);
  font-family: Arial, sans-serif;
  font-size: 16px;
}

header {
  background-color: var(--color-gray1);
  color: var(--color-white);
  padding: 36px 0;
}

header nav {
  background-color: var(--color-gray1);
  box-shadow: none;
}

header nav a {
  font-size: 2.25rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--color-white);
  transition: opacity 0.3s ease; /* Transição suave */
}

header nav li a {
  font-size: 0.75rem;
  text-transform: none;
  font-weight: 400;
  color: var(--color-white);
}

header nav a:hover {
  opacity: 0.8;
}

main {
  background-color: var(--color-gray1);
  height: calc(100vh - 1px);
  text-align: center;
}

main .trader-header {
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
  color: var(--color-white);
  padding: 24px;
}

main .trader-header span {
  font-weight: bold;
}

main .trader-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 6px;
  background-color: var(--color-white);
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  padding: 12px 12px;
  text-align: center;
}

main .trader-btn {
  display: flex;
  justify-content: space-evenly;
  padding: var(--padding-base); /* Usando variável */
}

main .trader-btn a {
  border-radius: 6px;
}

main .trader-btn a i {
  color: var(--color-white);
}

main .btn-trade-row {
  display: flex;
  justify-content: space-between;
}
